PORT=3001
FRONTEND_URL=https://bqbxnilnhr2rk.ok.kimi.link

B2_ACCOUNT_ID=0052cfa9b6df80a0000000001
B2_APPLICATION_KEY=K005zrrojM9dxyA/grTSocR1mu7aFpc
B2_BUCKET_NAME=Drive-mkt-RC
B2_BUCKET_ID=c2dc2ffa190b166d9fc8001a
